<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66656228995-vjmlitbrvh3c6arb1s8ehjqcgjh2u40s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66656228995-vjmlitbrvh3c6arb1s8ehjqcgjh2u40s</string>
	<key>API_KEY</key>
	<string>AIzaSyBd6jfqXIjKRG332ZrM_hkAUP--wcqkqqE</string>
	<key>GCM_SENDER_ID</key>
	<string>66656228995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.interviewbit</string>
	<key>PROJECT_ID</key>
	<string>interviewscheduler-ad524</string>
	<key>STORAGE_BUCKET</key>
	<string>interviewscheduler-ad524.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66656228995:ios:16786e0f15281292b6edb6</string>
</dict>
</plist>